@model Libro

<h1>Detalles Libro</h1>

<img src="~/images/@Model.Portada"
style="width:100px;height:150px;" />

<h1>@Model.Titulo</h1>
<h2>@Model.Autor</h2>
<h2>Editorial: @Model.Editorial</h2>
<h4>Precio: @Model.Precio €</h4>

<p><strong>Sinopsis:</strong></p>
<p>@Model.Resumen</p>

@if (Context.User.Identity.IsAuthenticated == false)
{
    <a asp-controller="Managed" asp-action="Login"
       class="btn btn-outline-success">
        Comprar!
    </a>
}
else
{
    <a asp-controller="Libros" asp-action="DetalleLibro"
       asp-route-idComprar="@Model.IdLibro"
       class="btn btn-outline-success">
        Comprar!
    </a>
}


<h2 style="color:green">@ViewData["MSG"]</h2>
